body {
    background-color: #ffffff;
  }
  
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }
  
  .Main {
    width: 100vw;
    height: 99vh;
    display: flex;
    flex-direction: row;
  }
  
  :root {
    --heightvalue: 100vh;
  }
  
  .Left {
    width: 50vw;
    height: var(--heightvalue);
    display: flex;
  }
  
  .personalL{
    color:#ffffff;
  }

  div {
    color : #898989
  }
  
  .Hr {
    width: 0.1vw;
    height: 80vh;
    background-color: #ececec;
    margin-top: 15vh;
    margin-right: 8vw;
  }
  .L8{
    width: 3.5vw;
    height: 3.5vh;
    margin-bottom: 2vh;
  }
  
  .LeftMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: var(--heightvalue);
  }
  
  .UserText {
    margin-top: 10px;
    font-size: 20px;
    color: #898989;
    align-items:center;
  }
  
  .UserText1{
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .UserInformationBox {
    margin-top: 120px;
  }
  
  .ChangeInfor {
    width: 300px;
    height: 40px;
    background-color: #d2d2d2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 50px;
  }
  
  .DeleteAccount {
    width: 300px;
    height: 40px;
    background-color: #d2d2d2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .UserIconBox {
    width: 120px;
    height: 120px;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    margin-left:150px;
  }
  
  .ChangeInforText , .DeleteAccountText {
    color: white;
    font-size: 14px;
  }
  
  
  .RighttMain {
    width: 50vw;
    height: var(--heightvalue);
    background-color: blue;
  }
  
  .MenuList {
    width: 4vw;
    height: var(--heightvalue);
    border-right-width: thin;
    border-style: solid;
    border-right-color: #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Right1 {
    margin-top: 15vh;
    display: flex;
    margin-bottom: 15vh;
  }
  
  .L3{
    width: 3.5vw;
    height: 3.5vh;
    margin-bottom: 2vh;
  }
  
  .LinkedAccountText {
    font-size: 22px;
  }
  
  .AccountCareText {
    font-size: 14px;
    margin-left: 26vw;
  }
  
  .CloudBox {
    display: flex;
    flex-direction: column;
  }
  
  .CloudBoxUp {
    display: flex;
  }
  
  .CloudBoxUpText {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(229, 229, 229); */
    justify-content: space-around;
    margin-left: 12px;
  }
  
  .StorageVolume {
    font-size: 13px;
  }
  
  .GoogleDriveText {
    font-weight: 600;
  }
  /* 대부분 텍스트 알쥐비: #898989에용!  */
  /* 검색창 뒷배경 #DCDCDC입니당! */
  
  .GoogleDriveDel{
    margin-left: 9vw; 
    margin-top: 1.2vh;
  }
  
  .OneDriveDel{
    margin-left: 9vw; 
    margin-top: 1.3vh;
  }
  
  .MegaDriveDel {
    margin-left: 9vw;
    margin-top: 1.4vh;
  }
  
  .ProgressDiv {
    margin-bottom: 5px;
  }
  
  progress { appearance: none; }
  
  .Progress::-webkit-progress-bar { 
    width: 350px;
    /* 채워지지 않은 부분의 색 */
    background:#f0f0f0; 
  
    border-radius:10px;
    box-shadow: inset 0px 3px 10px #ccc; 
  }
  
  .Progress::-webkit-progress-value { 
    border-radius:10px; 
    background: #1D976C; 
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C); 
    background: linear-gradient(to right, #93F9B9, #1D976C); 
  
  }
  
  .MenuUserIcon {
    margin-top: 8vh;
  }
  
  .MenuBiIcon {
    background-color: #eeeeee;
    border-radius: 15px;
  }
  
  .n {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .MegaDriveProgress::-webkit-progress-bar { 
    width: 350px;
    /* 채워지지 않은 부분의 색 */
    background:#f0f0f0; 
  
    border-radius:10px;
    box-shadow: inset 0px 3px 10px #ccc; 
  }
  
  .MegaDriveProgress::-webkit-progress-value { 
    border-radius:10px; 
    background: #FFD874; 
    background: -webkit-linear-gradient(to right, #FFD874, #FFD874); 
    background: linear-gradient(to right, #FFD874, #FFD874); 
  
  }
  
  .OneDriveProgress::-webkit-progress-bar { 
    width: 350px;
    /* 채워지지 않은 부분의 색 */
    background:#f0f0f0; 
  
    border-radius:10px;
    box-shadow: inset 0px 3px 10px #ccc; 
  }
  
  .OneDriveProgress::-webkit-progress-value { 
    border-radius:10px; 
    background: #85A0FF; 
    background: -webkit-linear-gradient(to right, #85A0FF, #85A0FF); 
    background: linear-gradient(to right, #85A0FF, #85A0FF); 
  
  }