@import url("https://fonts.googleapis.com/css?family=McLaren|Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  padding: 0;
  margin:0;
  /* background-image: linear-gradient(
      rgba(22, 49, 54, 0.5),
      rgba(22, 49, 54, 0.5)
      
    ),
    url("https://www.transparenttextures.com/patterns/grid-me.png"); */
    /* background-color: #fff; */
    /* color:#fff */
}
body,.card,.list-group-item {
  background-color: rgba(255,255,255, 0.182);
}

.col-sm-5{
  position: absolute;
  left : 645px;
  top: 200px;

}

.darkMode{
  /* position: absolute !important;
  left:20% !important;
  top:10%; */
  font-size: small;
  color:#fff;
}
.modal-header{
  background-color: #DCDCDC !important;
  color: #fff !important;
}

.logout{
  background-color: none;
}
header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

.navbar {
  background-color: #898989;
  /* height: 12vh; */
  /* padding: 2% 0%; */
  /* margin: 0%;  */

  
}
.nav-tabs{
  border-color: #DCDCDC !important;
}
.nav-link,.active {
  border-color: #DCDCDC !important;
  background-color: #898989 !important;
  color: #fff !important;
}
.signUp{
  background-color: #DCDCDC !important;
  color: #fff !important;
}

.CloudBoxUp {
  display: flex;
  text-align:center;
}

.CloudBoxUpText {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(229, 229, 229); */
  justify-content: space-around;
  margin-left: 12px;
  font-size:medium;
}

.Logo{
  position: absolute;
  width: 599px;
  height: 327px;
  left: 240px;
  top: 330px;
}

.compareContainer{
  display: flex;
}


.compareCatalog{
  margin-left: 25%;
  margin-top :10%;
  margin-bottom: 10%;
  width: 1200px;
  height: 1050px;
}

.userInput{
  position: absolute;
  width: 500px;
  height : 700px;
  top: 12%;
  right: 16%;
}

li .nav-item {
  background-color: #898989 !important;
}
.MuiInputBase-root{
  padding: 0% 1% !important;  
}
.cardHeader {
  text-align:center;
  background-color: none;
  color:#fff;
  border:none;
  padding:2%
}

.uploadButton {
  background: none;
  padding : 2px;
  border-radius: 5px;
  border-width: 2px;
  
  color: #898989;
  background-color: #f4f4f4;
}

.addDrive .card-body {
  padding: 1% 0 0 0;
}
.addDrive ul {
  text-align: center;
}
.addDrive li {
display: inline-table;
padding:0 10% 0 10%;
}
.prevIconB,.nextIconB
{
  background:none;
  color:#898989;
  border:none;
}
li{
  cursor: pointer;
}
li a {
  color: inherit;
}
.search {
  position: relative;
  left:2%;
  margin-bottom:1rem;  
}

.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}
.fileFilter {
  background:none;border:none;color:#898989;
}

#dropdown-custom-2 {
  background-color: #898989;
  color: #fff;
  width:100%;  
  margin: 0;
  left:0;
  right:0;  
}
.dropDToggle{
  background:none;
  border:none;
  width:auto;  
  background-color:#898989;
}
.menuColors{  
  background-color:#898989;;
    
}
.dropDText{
  color: #fff;
  border:0.5px solid rgb(255, 255, 255,0.2);
}

.fileRow .row {
  border: 0.2px solid rgba(105, 103, 103, 0.582) !important;  
  padding: 1% 0%;
}

.tooltiptext {
  visibility: hidden;
  width: 10vw;
  /* background-color: #440c05; */
  /* color: #440c05; */
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* position: relative; */
  z-index: 1;
  /* top:-5%; */
  /* left: 5%; */
  margin-left: 2%;
  opacity: 0;
  transition: opacity 0.3s;
  text-decoration: none;
}
/* .fileRow .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -1%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:  transparent #440c0569 transparent transparent;
} */

.fileRow:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  width:10vw;
  text-decoration: none;
}

.fileDelete {
  background: none;
  color: #1a8e92;
  border: none;
}

.upload {
  width: 100vw !important;
}
.driveList li{
  padding-left: 2% !important;
}
.driveList .upload {
  width:95% !important;
}
.driveList .fileDelete
{
  padding-top: 2%;
}
.progressPct {
  position: absolute;
  z-index: 2;
  left:50%;
  color: #DCDCDC;
  font-weight: 600;
}

/* 
footer {
  position: absolute;
  text-align: center;
  bottom: -30rem;
  width: 100%;
  height: 5vh;
}

footer p {
  color: #ccc;
} */

/* **********Scrollbar section ******/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(77, 82, 80, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #440c05;
}
/* **********Scrollbar section ******/
