html {
  min-height: 100%;
  position: relative;
}
.registerSucess{
  background-color: #1abc9c;
}

.registerFailure{
  background-color: rgba(253, 23, 23,0.5);
}

.loginFailure{
  background-color: rgba(253, 23, 23,0.5);
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}


.my-slider .carousel-indicators {
  top: 50px;
  justify-content: space-evenly;
  margin:0;
  padding-left:15px;
  padding-right:15px;
}
.myIndicator
{
  position: absolute;
  bottom:-1rem;
  left:-1rem;
  
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #fff;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators li:not(:last-child) {
  margin-right: 10px;
}

.carousel .carousel-indicators .active {
  background-color: #444;
}

.carousel-control-prev,
.carousel-control-next{
    align-items: center; /* Aligns it at the bottom */
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-inner .card-body {
  margin-right: 1rem;
  margin-bottom: 1rem;
  
}




.navItems{
  padding-left: 30vw;
}
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}


#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  font-family: sans-serif;
  margin: 100px auto;
  padding: 20px;
}
#drop-area.highlight {
  border-color: purple;
}
.my-form {
  margin-bottom: 10px;
}

progress {
  border-radius: 5px; 
  width: 50%;
  height: 22px;
  /* margin-left: -11.5%; */
  box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
}
progress::-webkit-progress-bar {
  background-color: rgba(222, 228, 220, 0.925);
  border-radius: 5px;
}
progress::-webkit-progress-value {
  background-color: rgb(1, 152, 179);
  border-radius: 5px;
  /* box-shadow: 1px 1px 5px 3px rgba( 255, 0, 0, 0.8 ); */
}
div#progBar p {
  display: none;
  background-color: rgb(233, 233, 233);
  padding: 10px;
  width:35%;
  border-radius: 30px;
  color: #18032b;
  font-size: large;
  text-align: center;
}
div#progBar:hover p {
  display: inline-block;
}

div#fileDetail ul{
  display: none;
  background-color: rgba(26, 2, 26, 0.24);
  padding-left: 10%;
  width:100%;
  border-radius: 10px;
  color: #150027;
  font-size: medium;
  text-align: justify;
}
div#fileDetail:hover ul{
  display: inline-block;  
}


.uploadButton {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.uploadButton:hover {
  background: #ddd;
}

@media screen and (min-width: 1000px) {
  .scrollbar {
    height: 75vh;
    overflow: auto;
  }
}

@media screen and (max-width: 1000px) {
  .scrollbar {
    justify-content: center;
    height: 40vh;
    width:70vw;
    overflow: auto;
  }
}



.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background:rgba(77, 82, 80, 0.2); 
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #f5ba13; 
}


.folders a{
  font-size: xx-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
