.App {
    text-align: center;
    background-color:#FFFFFF
  }
  
  .logo {
    width: 400px;
    height: 220px;
  }
  
  .modal-button{
    width: 5vh;
    height:2vh;
    border:0;
    outline:0;
    background-color: #DCDCDC;
  }
  
  .App-header {
    background-color: #FFFFFF;
    max-width: 200vh;
    max-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .data-box{
     width : 50vh;
     height : 7vh;
     display : flex;
     color : rgb(255, 255, 255);
     background-color: #DCDCDC;
     border : 0px;
     flex-direction: row;
     align-items: left ;
     font-style: #DCDCDC;
  }
  
  .small-box{
    width : 7vh;
    height : 7vh;
    background-color: #DCDCDC;
    flex-direction: row;
    align-content: bottom;
    justify-content: bottom;
  }
  
  .input-box{
    border : 2px solid #DCDCDC;
    box-sizing: border-box;
    font-size: 20;
    width : 50vh;
  }
  
  .button-box{
    width : 50vh;
    height : 7vh;
    background-color: #DCDCDC;
    border :0;
    outline: 0;
    font-style: #FFFFFF;
  }
  
  .modal-button{
    width : 5vh;
    height : 2vh;
    border :0;
    outline: 0;
    background-color: #DCDCDC;
  }
  
  