.App {
  text-align: center;
}
.L1{
  position: absolute;
  width: 599px;
  height: 327px;
  left: 234px;
  top: 347px;
}
input{
  font-size: 20px;
  padding-left:10px;
}
.layoutId{
  position:absolute;
  width:58px;
  height:65px;
  left:1092px;
  top: 411px;
  background:#DCDCDC;
  border: 2px solid #DCDCDC;
  box-sizing: border-box;
}
.IconId{
  position:absolute;
  top: 0.9vh;
  left: 0.3vw;
}

.loginId{
  position:absolute;
  width:442px;
  height:65px;
  left:1150px;
  top: 411px;
  background:#FFFFFF;
  border: 2px solid #DCDCDC;
  box-sizing: border-box;
}
.layoutPw{
  position:absolute;
  width:58px;
  height:65px;
  left:1092px;
  top: 509px;
  background:#DCDCDC;
  border: 2px solid #DCDCDC;
  box-sizing: border-box;
}
.IconPw{
  position:absolute;
  top: 0.7vh;
  left: 0.3vw;
}

.loginPw{
  position:absolute;
  width:442px;
  height:65px;
  left:1150px;
  top: 509px;
  background:#FFFFFF;
  border: 2px solid #DCDCDC;
  box-sizing: border-box;
}
.login{
  position:absolute;
  width:500px;
  height:64px;
  left:1092px;
  top: 642px;
  background:#DCDCDC;
   border: 2px solid #DCDCDC;
  box-sizing: border-box;
}
.button-box{
  width : 50vh;
  height : 7vh;
  background-color: #DCDCDC;
  border :0;
  outline: 0;
  font-style: #FFFFFF;
}
.Id-Id{
  width: 59px;
  height : 15px;
  top: 435px;
}
.join1{
  position:absolute;
  width: 106px;
  height: 29px;
  left:1275px;
  top: 739px;
  font-family:'Inter';
  font-style: normal;
  font-weight: 400px;
  font-size:20px;
  line-height: 24px;
  color: #898989;
  text-decoration-line: none;
  
  
}

body {
  font-family:'nanumsquare';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #898989;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.a {
  text-decoration: none;
}
